:root {
  --neutral500: #06142a;
  --dustStorm100: #f5ebe8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 24px 0;
  background-color: var(--neutral500);
}

.map {
  display: grid;
  margin: 0 auto;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #878484;
}

.is-filled {
  background-color: var(--neutral500);
}

.is-open {
  background-color: var(--dustStorm100);
}
